## 交互式数据获取

如果部分数据希望获取而没有在 WORD 上显示出来，可以在该 notebook 中写代码调用各个模块，获得你想要的数据

In [1]:
# 这是导入的第三方包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
from datetime import datetime
from dateutil.relativedelta import relativedelta

import os
import math

# 这是自己写的其它模块文件
import fund # 基金计算模块
import utils # 一些工具模块，用于把字典 dict 转化为 pd.Series 或者 pd.DataFrame
import index_handler as ih # 指数数据处理模块
import date_handler as dh # 日期处理模块
import draw_plot as dp # 绘图模块
import word_handler as wh # 写入 WORD 模块

# NOTE 这些代码给出了基金指标计算模块的使用方法
netval_data = pd.read_excel("data/明汯多策略对冲1号-净值数据.xlsx", index_col = 0)
index_data = pd.read_excel("data/指数数据.xlsx", index_col = 0)
fund_name = netval_data.columns[0]
this_fund = fund.Fund(fund_name, netval_data.iloc[:, 0])
corp_name = "明汯投资"

通过调用this_fund的各种方法，来灵活地获取数据。

建议使用 JetBrains 下的 PyCharm 或者 MicroSoft 下的 VScode 运行这些文件。这些 IDE 可以提供语法智能提示。

In [2]:
this_fund.all_month_return()
this_fund.all_year_return()
this_fund.all_recent_return() 
this_fund.summary_indicators()

{'累计收益率': 2.7287,
 '年化收益率': 0.17658244730169836,
 '最大回撤': -0.07774740295243299,
 '年化波动率': 0.08699529138215302,
 '夏普比率': 1.8573700338780266,
 '周胜率': 0.6101694915254238,
 '本周收益率': 0.008165472488846692,
 '过去一年最大回撤': -0.07774740295243299,
 '最大周度回撤': -0.0318691931133237,
 '下行标准差': 0.006140342886424228,
 '下行标准差年化': 0.044278642251866215,
 'Sortino比率': 3.6492186545057876,
 'Calmar比率': 2.271232743423393,
 '是否创新高': '否',
 '未创新高的天数': 14}

In [3]:
this_fund.rolling_return_data

                  半年        一年        二年        三年        五年
2015-01-16       NaN       NaN       NaN       NaN       NaN
2015-01-23       NaN       NaN       NaN       NaN       NaN
2015-01-30       NaN       NaN       NaN       NaN       NaN
2015-02-06       NaN       NaN       NaN       NaN       NaN
2015-02-13       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2023-06-02  0.040122  0.054059  0.203899  0.322165  1.058598
2023-06-09  0.033783  0.042559  0.208047  0.302255  1.035532
2023-06-16  0.050293  0.063068  0.210163  0.318320  1.067878
2023-06-21  0.049786  0.057379  0.169930  0.293634  1.035834
2023-06-30  0.052443  0.051404  0.181202  0.295497  1.063133

[432 rows x 5 columns]

In [4]:
this_fund.get_rolling_quantile_dataframe() # .to_excel("rolling_quantile_dataframe.xlsx")

            半年        一年        二年        三年        五年
滚动收益
最小值  -0.034553  0.025511  0.137386  0.293634  1.024155
25分位  0.029613  0.095242  0.253680  0.481826  1.153722
中位数   0.063769  0.139650  0.325476  0.670595  1.268906
75分位  0.109849  0.214937  0.498474  0.781865  1.346428
最大值   0.325000  0.374253  0.638277  1.003520  1.830800

In [5]:
this_fund.get_earning_probability()

            半年        一年        二年   三年   五年
盈利概率
0%    0.946015  1.000000  1.000000  1.0  1.0
3%    0.745501  0.994505  1.000000  1.0  1.0
5%    0.627249  0.958791  1.000000  1.0  1.0
10%   0.295630  0.708791  1.000000  1.0  1.0
12%   0.218509  0.574176  1.000000  1.0  1.0
15%   0.131105  0.456044  0.993610  1.0  1.0
18%   0.082262  0.359890  0.987220  1.0  1.0
20%   0.059126  0.280220  0.958466  1.0  1.0

### 细节补充：pd.Series 的用法

pd.Series 的索引如果是有序的，就支持 类似于 x[date(2015, 1, 15):] 这种查找，date(2015, 1, 15)未必是索引值之一。

而如果是无序的，就只能x[k:]的k就必须是索引值之一，它会取它以及它后面的数据。此外，x[:k]，这种右侧是闭区间，与 Python 中的其它数据结构是有差异的

In [ ]:
x = pd.Series([1, 2, 3])
x.index = [date(2015, 1, 16), date(2015, 1, 10), date(2015, 1, 12)]
x.index = [date(2015, 1, 16), date(2015, 1, 12), date(2015, 1, 10)]
x[date(2015, 1, 15):]
x[:date(2015, 1, 10)]
x[:date(2014, 1, 10)]
x[date(2017, 1, 10):]